@charset "UTF-8";
@font-face {
    font-family: 'CaviarDreams';
    src: url(fonts/CaviarDreams.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}
/*Tipo de format()
- opentype (otf)
- truetype (ttf)
- embedded-opentype
- truetype-aat (Apple Advanced Typography)
*/

/** { tag para configurações globais
    obs: height - altura
    width - largura
    weight - peso
    
    font-family: Arial, Helvetica, sans-serif;
}*/

p {
    text-align: justify;
}

main {
    background-color: whitesmoke;
    border-color: #00BBC9;
    border-radius: 10px;
    box-shadow: 2px 2px 10px #00474dbd;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    font-family: 'CaviarDreams';
    font-size: 2em;
    /*
    As fontes tem medidas absolutas e relativas:
    Absolutas - cm, mm, in(polegada), px, pt, pc
    
    Relativas - em(medida do tamanho da fonte - 1em geralmente é = 16px, altura padrão), ex(altura x), rem, vw(largura da viewport), vh(altura da viewport, %.

    As medidas recomendadas são px e em.
    */
    color: #202022;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.534);
}

h2 {
    color: #202022;
    /* Shorthand font
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 1em;
    font-style: normal;
    
    - font-style -> font-weight -> font-size -> font-family
    */
    font: normal normal 1em Arial, Helvetica, sans-serif;

}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to bottom, #00BBC9, #00747C);
}