@charset "UTF-8";

/*
Colors and fonts
font-family: - h2
font-family: - p
font-family: - h1 (logo)

#171717
#444444
#DA0037
#EDEDED

font-family: 'Nunito', sans-serif;
font-family: 'Rajdhani', sans-serif;
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    background-color: #ededed;
    height: 100vh;
    width: 100vw;
}

main {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Nunito', sans-serif;
}

#login {
    background-color: #444444;
    width: 250px;
    height: 400px;
    border-radius: 10px;
    /*overflow: hidden;*/
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
    color: #ededed;
    font-family: Arial, Helvetica, sans-serif;
}

#login > #login_image{
    display: block;
    position: relative;
    background-image: linear-gradient(
    to top,
    rgb(68, 68, 68),
    rgba(237, 237, 237, 0.2)),
    url(images/login-sm-image.png);
    background-size: contain;
    height: 200px;
}

#login_image > h1 {
    position: absolute;
    bottom: 10px;
    right: 20px;
    font-family: 'Rajdhani', sans-serif;
    font-weight: 500;
}

#login > #form {
    display: block;
    text-align: end;
    margin-right: 20px;
}

#form > h2 {
    font-size: 1rem;
}

#form > p {
    font-size: 0.8rem;
    margin: 5px 0;
}


.login_field .material-symbols-outlined {
    transform: translateY(7px);
}

.login_field input {
    border: none;
    padding: 2px;
    border-radius: 2px;
}

.login_field input:hover {
    background-color: #EDEDED;
}

.options_container {
    display: flex;
    justify-content: end;
    gap: 24%;
    margin: 10px 0;
}

#btn_submit {
    font-size: 0.8rem;
    border: none;
    border-radius: 2px;
    padding: 2px;
    color: #EDEDED;
    background-image: linear-gradient(to top, rgb(219, 0, 55), rgba(218, 0, 55, 0.6));
}

#btn_submit:hover {
    background-image: linear-gradient(to top, #DA0037, #DA0037);
    cursor: pointer;
}

#btn_register {
    font-size: 0.8rem;
}

#form a {
    color: #ededed;
    text-decoration: none;
}

#form a:hover{
    text-decoration: underline;
}

#password_recover, #password_recover > span {
    margin-top: 1rem;
    font-size: 0.6rem;
}

#password_recover > span {
    margin-left: 4px;
    transform: translateY(1px);
}


