* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: bisque;
}

.container {
    margin: 50px auto;
    height: 200px;
    background-color: beige;
    display: flex; /*muda o eixo principal para o horizontal*/
    justify-content: baseline;   
}

.bloco1, .bloco2, .bloco3 {
    border-radius: 3px;
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.bloco1 {
    font-size: 2rem;
    width: 20px;
    height: 50px;
    background-color: lightgreen;
}

.bloco2 {
    font-size: 1.2rem;
    width: 20px;
    height: 80px;
    background-color: green;
}

.bloco3 {
    font-size: 0.8rem;
    width: 20px;
    height: 30px;
    background-color: darkgreen;
}