* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: bisque;
}

.container {
    margin: 50px auto;
    height: 200px;
    background-color: beige;
    display: flex; /*muda o eixo principal para o horizontal*/
    
    flex-direction: row; /*define o eixo e o sentido*/
    justify-content: space-between; /*posiciona os elementos em row*/
    align-items: center; /*posiciona os elementos em column*/
    flex-wrap: wrap; /*possibilita o elemento de descer a row*/
    /*flex-flow: ; flex-direction + flex-wrap*/
    
}

.bloco1, .bloco2, .bloco3 {
    width: 50px;
    height: 50px;
    border-radius: 3px;
    margin: 5px;
    text-align: center;
}

.bloco1 {
    background-color: lightblue;
}

.bloco2 {
    background-color: lightpink;
}

.bloco3 {
    background-color: lightcoral;
}